<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Roku_Remote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Roku_Remote.Properties.Settings>
            <setting name="rokuipaddress" serializeAs="String">
                <value>192.168.0.148</value>
            </setting>
            <setting name="rokuport" serializeAs="String">
                <value>8060</value>
            </setting>
        </Roku_Remote.Properties.Settings>
    </userSettings>
</configuration>